/* USER VARIABLES SECTION */

:root {
	--accent:#3CB3B6;
	--accent2: #1B424D;
	--text: #FBFBFC;
	--text2: #181C2C;
	--regular-text: 22px;
	--lineheight: 1.65;
	--userfont:ibmplexsanslight, roboto-st, sans-serif;
	--systemfont: -apple-system, BlinkMacSystemFont, Arial, sans-serif;
}

/* BOOTSTRAP SETTINGS SECTION */

/* gutter 20px (10px + 10px). Comment this code for default gutter start at 1.5rem (24px) wide. */
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl { --bs-gutter-x: .625rem; }
.row, .row > * { --bs-gutter-x: 1.25rem; }

/* FONTS LOAD SECTION */

@font-face { src: url("../fonts/roboto-regular-webfont.woff2") format("woff2"); font-family: "roboto-st"; font-weight: 400; font-style: normal; }
@font-face { src: url("../fonts/roboto-italic-webfont.woff2") format("woff2"); font-family: "roboto-st"; font-weight: 400; font-style: italic; }
@font-face { src: url("../fonts/roboto-bold-webfont.woff2") format("woff2"); font-family: "roboto-st"; font-weight: 700; font-style: normal; }
@font-face { src: url("../fonts/roboto-bolditalic-webfont.woff2") format("woff2"); font-family: "roboto-st"; font-weight: 700; font-style: italic; }
@font-face { src: url("../fonts/Ibmplexsanslight.woff2") format("woff2"); font-family: "ibmplexsanslight"; font-weight: 400; font-style: normal; }

/* GENERAL CSS SETTINGS */

::placeholder { color: #666; }
::selection { background-color: var(--accent); color: #fff; }
input, textarea { outline: none; }
input:focus:required:invalid, textarea:focus:required:invalid { border-color: red; }
input:required:valid, textarea:required:valid { border-color: green; }

body {
	background: var(--accent2);
	font-family: var(--userfont);
	font-size: var(--regular-text);
	line-height: var(--lineheight);
	color: var(--text);
	min-width: 320px;
	position: relative;
	overflow-x: hidden;
}

/* USER STYLES */

.image {
	max-width: 100%;
	margin-bottom: var(--bs-gutter-x);
	border-radius: 0px;
}

.accent {
	color: var(--accent);
	font-weight: bold;
}

.top-line{
	background-color: var(--accent2);
	position: relative;
	height: 72px;
}

.logo{
	font-family: var(--userfont) ;
	color: var(--accent);
	display: inline-block;
	text-decoration: none;
	position: absolute;
	left: 250px;
	line-height: 72px;
}
.hr-top{
	top: 72px;
	height: 2px !important;
	color: #99A2B5;
	margin: 0;
}
.main-menu{
	padding: 0 140px 0 0;
	width: 100%;
	text-align: center;
	top:0;
}

.main-menu ul{
	list-style-type: none;
	margin: 0;
}
.main-menu ul li{
	display: inline-block;
	margin-right: -4px;
}
.main-menu ul li a {
	color: var(--text);
	text-decoration: none;
	text-transform: uppercase;
	font-family: var(--userfont);
	padding: 0 7px;
	font-size: 15px;
	font-weight: 400;
	line-height: 72px;
	letter-spacing: 0.07em;
	display: block;
	transition: color .25s ease, background-color .25s ease;
}
.main-menu ul li a:active {
	color: #fff;
}
.main-menu ul li a:hover {
	color: #fff;
}

.phone-wrap {
	position: absolute;
	display: inline-block;
	right: 200px;
	top:0;
}

.phone-wrap ul{
	list-style-type: none;
	margin: 0;
	padding-right: 30px;
}

.phone-wrap ul li{
	display: inline-block;
	margin-right: -4px;
}

.phone-wrap ul li a {
	color: var(--text);
	text-decoration: none;
	text-transform: uppercase;
	font-family: var(--userfont);
	padding: 0 4px;
	font-size: 16px;
	font-weight: 500;
	line-height: 72px;
	display: block;
	transition: color .25s ease, background-color .25s ease;
}
.phone-wrap .phone {
	padding-right: 50px;
}

.mobile-menu-button {
	position: absolute;
	font-size: 17px;
	cursor: pointer;
	text-transform: uppercase;
	font-weight: bold;
	white-space: nowrap;
	line-height: 72px;
	right: 20px;
	display: none; 
} 
.mobile-menu-logo {
	text-align: left;
	position: absolute;
	line-height: 4.5;
	font-size: 17px;
	cursor: pointer;
	text-transform: uppercase;
	font-weight: bold;
	white-space: nowrap;
	padding-left: 20px;
	display: none; 
} 

.mobile-menu {
	padding-top: 20px;
	text-align: left;
	display: none;
	background-color: var(--accent2);
}

.mobile-menu .nav {
	display: block;
}
		
.mobile-menu .nav li {
	display: block;
}
		
.mobile-menu .nav li a {
	
	color: var(--text);
	text-decoration: none;
	text-transform: uppercase;
	font-family: var(--userfont);
	padding: 0 7px;
	font-size: 15px;
	font-weight: 400;
	line-height: 50px;
	letter-spacing: 0.07em;
	transition: color .25s ease, background-color .25s ease;
}
.mobile-menu .contacts{
	text-align: left;
	display: block;
	padding-left: 33px;
}

.mobile-menu .contacts a {
	width: max-content;
	color: var(--text);
	text-decoration: none;
	text-transform: uppercase;
	font-family: var(--userfont);
	padding: 0 3px;
	font-size: 16px;
	font-weight: 700;
	transition: color .25s ease, background-color .25s ease;
}
.mobile-menu .menu-logo {
	border-bottom: #99A2B5 1px solid;
}
.container-fluid {
	max-width: 1346px;
	padding: 0 20px;
}

.ad {
	text-align: center;
	width: 100%;
	display: block;
	overflow: hidden;
}
	
.top-ad{
	padding-bottom: 20px;
}

section {
	background-color: #1B424D;
	padding-top: 100px;
	padding-bottom: 20px;
}
section h2 {
	margin: 0;
	text-transform: uppercase;
	font-size: 50px;
	font-weight: 800;
}
.item-title {
	min-height: 288px;
	min-width: 608px;
}
.item-title-content{
	top:0;
	padding-left: 250px;
	line-height: 30px;
	color: #FBFBFC;
	z-index: 1;
	font-size: 15px;
	font-weight: 600;
	letter-spacing: 0.22em;
}
