/* === DESKTOP FIRST === */
/* xl <= Extra extra large (xxl) */

@media (max-width : 1800px) {

	.six-section .item-title .item-title-content .logo-text {
		display: none;
	}
}

@media (max-width : 1525px) {
	.mobile-menu{
		display: none;
	}
	.six-section .item-title .item-title-content .logo-text {
		display: none;
	}
}

@media (max-width : 1520px) {
	.main-menu{
		display: none;
	}
	.mobile-menu-button {
		display: block;
	}
	.logo{
		left:10px;
	}
	.phone-wrap {
		display: none;
	}
	.six-section .item-title .item-title-content .logo-text {
		display: none;
	}

}

/* xl <= Extra extra large (xxl) */
@media (max-width : 1400px) {
	.main-menu{
		display: none;
	}
	.mobile-menu-button {
		display: block;
	}
	.logo{
		left:10px;
	}
	.phone-wrap {
		display: none;
	}
	.item-title{
		min-height: unset;
	}
	.item-title-2{

		padding-top: 30px;
	}
	.item-title-3 {
		margin-top: 0;
	}
	.item-title-content {
		padding-bottom: 20px;
		font-size: 10px;
		position: relative;
	}
	.item-title-content-2{
		padding-top: 0px;
		position: relative;
		padding-bottom: 20px;
	}
	.item-title-3 .item-title-content-1 {
		position: relative;
		padding: 20px 20px;
	}
	section{
		padding-top: 50px;
	}
	section h2 {
		margin: 0;
		font-size: 30px;
	}
	.item-title-3 {
		background-position-x: 150px;
		background-position-y: 40px;
	}
	.item-title-3 {
		background-position-x: 570px;
		background-position-y: 40px;
	}
	.six-section {
		min-height: 230px;
	}
	.six-section .item-title .item-title-content .logo-2 {	
		position: absolute;
		text-align: left;
		letter-spacing: 1.2px;
		line-height: 21px;
		font-size: 14px;
		bottom: -60px;
		left: 20px;
	}
	.six-section .item-title .item-title-content .logo-text {
		line-height: 25px;
		letter-spacing: 1.2px;
		font-weight: 550;
		font-size: 15px;
		bottom: 65px;
		left: 285px;
		text-align: left;
		position: absolute;
		display: block;
	}
	.six-section .item-title .item-title-content .logo {
		padding-left: 20px;
		top: 0px;
		left: 0px;
		display: block;
		position: absolute;
	}
	.six-section .item-title .item-title-content {
		letter-spacing: 1.2px;
		padding-left: 20px;
		padding-top: 90px;
		color: #3CB3B6;
		text-align: left;
		font-size: 14px;
		font-weight: 500;
	}
	
}

/* xl <= Extra extra large (xxl) */
@media (max-width : 1300px) {
	.main-menu{
		display: none;
	}
	.logo{
		left:10px;
	}
	.phone-wrap {
		display: none;
	}
	.item-title-3 {
		background-position-x: 570px;
		background-position-y: 40px;
	}
	.six-section {
		min-height: 230px;
	}
	.six-section .item-title .item-title-content .logo-2 {	
		position: absolute;
		text-align: left;
		letter-spacing: 1.2px;
		line-height: 21px;
		font-size: 14px;
		bottom: -60px;
		left: 20px;
	}
	.six-section .item-title .item-title-content .logo-text {
		line-height: 25px;
		letter-spacing: 1.2px;
		font-weight: 550;
		font-size: 15px;
		bottom: 65px;
		left: 285px;
		text-align: left;
		position: absolute;
		display: block;
	}
	.six-section .item-title .item-title-content .logo {
		padding-left: 20px;
		top: 0px;
		left: 0px;
		display: block;
		position: absolute;
	}
	.six-section .item-title .item-title-content {
		letter-spacing: 1.2px;
		padding-left: 20px;
		padding-top: 90px;
		color: #3CB3B6;
		text-align: left;
		font-size: 14px;
		font-weight: 500;
	}


}

/* lg <= Extra large (xl) */
@media (max-width : 1200px) {
	.main-menu{
		display: none;
	}
	.logo{
		left:10px;
	}
	.phone-wrap {
		display: none;
	}
	.item-title-3 {
		background-position-x: 570px;
		background-position-y: 40px;
	}
	.six-section {
		min-height: 230px;
	}
	.six-section .item-title .item-title-content .logo-2 {	
		position: absolute;
		text-align: left;
		letter-spacing: 1.2px;
		line-height: 21px;
		font-size: 14px;
		bottom: -60px;
		left: 20px;
	}
	.six-section .item-title .item-title-content .logo-text {
		line-height: 25px;
		letter-spacing: 1.2px;
		font-weight: 550;
		font-size: 15px;
		bottom: 65px;
		left: 285px;
		text-align: left;
		position: absolute;
		display: block;
	}
	.six-section .item-title .item-title-content .logo {
		padding-left: 20px;
		top: 0px;
		left: 0px;
		display: block;
		position: absolute;
	}
	.six-section .item-title .item-title-content {
		letter-spacing: 1.2px;
		padding-left: 20px;
		padding-top: 90px;
		color: #3CB3B6;
		text-align: left;
		font-size: 14px;
		font-weight: 500;
	}
}

/* md <= Large (lg) */
@media (max-width : 992px) {
	.main-menu{
		display: none;
	}
	.logo{
		left:10px;
	}
	.phone-wrap {
		display: none;
	}
	.conteiner{
		max-width: unset !important;
	}
	.item-title-3 {
		background-position-x: 570px;
		background-position-y: 40px;
	}
	.six-section {
		min-height: 230px;
	}
	.six-section .item-title .item-title-content .logo-2 {	
		position: absolute;
		text-align: left;
		letter-spacing: 1.2px;
		line-height: 21px;
		font-size: 14px;
		bottom: -60px;
		left: 20px;
	}
	.six-section .item-title .item-title-content .logo-text {
		line-height: 25px;
		letter-spacing: 1.2px;
		font-weight: 550;
		font-size: 15px;
		bottom: 65px;
		left: 285px;
		text-align: left;
		position: absolute;
		display: block;
	}
	.six-section .item-title .item-title-content .logo {
		padding-left: 20px;
		top: 0px;
		left: 0px;
		display: block;
		position: absolute;
	}
	.six-section .item-title .item-title-content {
		letter-spacing: 1.2px;
		padding-left: 20px;
		padding-top: 90px;
		color: #3CB3B6;
		text-align: left;
		font-size: 14px;
		font-weight: 500;
	}

}
@media (max-width : 768px) {
	.main-menu{
		display: none;
	}
	.logo{
		left:10px;
	}
	.phone-wrap {
		display: none;
	}
	.pattern-2 {
		position: relative;
		min-width: min-content;
	}
	.item-title-3 {
		background-position-x: 570px;
		background-position-y: 40px;
	}
	.pattern {
        padding-right: 0;
	}
	.second-section h2 {
		margin: 0;
		padding-top: 0px;
		padding-left: 5px;
		font-size: 40px;
	}
	.fifth-section h2 {
		font-size: 40px;
	}
	.item-title-5{
		padding-top: 20px;
	}
	.item-title-5 .item-title-content-1 {
		padding-left: 5px;
		min-width: unset;
		padding-bottom: 40px;
		font-size: 16px;
	}
	.container{
		max-width: unset !important;
	}
	.item-title-7 .item-title-content-1 h2 {
		position: absolute;
		top: 21px;
        left: 596px;
		font-size: 16px;
	}
	.item-title-7 .item-title-content-1 .h2 {
		left: 600px;
		position: absolute;
		font-size: 16px
	}
	.item-title-5 {
		padding-bottom: 0px;
	}
	.item-title-8 .item-title-content-1. {
		min-height: unset;
		font-size: 24px;
	} 
	.item-title-content-9 {
		min-height: unset;
		font-size: 24px;
	}
	.item-title-9 {
		min-height: unset;
	}
	.item-title-8 .item-title-content-1 {
        font-size: 16px;
	}
	.item-title-content-9{
        font-size: 16px;
	}
	.third-section .item-title-content-2{
		font-size: 16px;
	}
	.six-section {
		min-height: 230px;
	}
	.six-section .item-title .item-title-content .logo-2 {	
		position: absolute;
		text-align: left;
		letter-spacing: 1.2px;
		line-height: 21px;
		font-size: 14px;
		bottom: -60px;
		left: 20px;
	}
	.six-section .item-title .item-title-content .logo-text {
		line-height: 25px;
		letter-spacing: 1.2px;
		font-weight: 550;
		font-size: 15px;
		bottom: 65px;
		left: 285px;
		text-align: left;
		position: absolute;
		display: block;
	}
	.six-section .item-title .item-title-content .logo {
		padding-left: 20px;
		top: 0px;
		left: 0px;
		display: block;
		position: absolute;
	}
	.six-section .item-title .item-title-content {
		letter-spacing: 1.2px;
		padding-left: 20px;
		padding-top: 90px;
		color: #3CB3B6;
		text-align: left;
		font-size: 14px;
		font-weight: 500;
	}
	.fifth-section .item-title .item-title-content-1 {

		min-height: unset;
		background-image: unset;
		line-height: 28px;

	}
	.fifth-section .item-title .item-title-content-1 h2 {
		font-size: 32px;
		letter-spacing: -0.8px;
		font-weight: 400;
	}
	.fifth-section .item-title .item-title-content-1 h1 {
		font-size: 30px;
		font-weight: 700;
		letter-spacing: -0.8px;
	}
	.fifth-section .item-title .item-title-content-2 h3 {
		font-size: 22px;
		display: block;
	}
	.fifth-section .item-title .item-title-content-2 .footer-form input {
		min-width: -webkit-fill-available;
	}
	.fifth-section .item-title .item-title-content-2 .footer-form textarea {
		min-width: -webkit-fill-available;
	}
	.fifth-section .item-title .item-title-content-2 .form-text-1 {
		top: 80px;
	}
	.fifth-section .item-title .item-title-content-2 .form-text-2 {
		top: 350px;
	}
}

/* xs <= Small (sm) */
@media (max-width : 576px) {
	
	.main-menu{
		display: none;
	}
	.phone-wrap {
		display: none;
	}
	.logo{
		display: none;
	}
	.mobile-menu-logo {
		display: block;
	}
	.item-title-2 {
		font-size: 40px;
	}

	.item-title-3 {
		background-position-x: 370px;
		background-position-y: 40px;
	}
	.item-title-3 .item-title-content-1 {
		font-size: 14px;
		padding-right: 50px;
	}
	.pattern-2 {
		position: relative;
	}
	.container{
		max-width: unset !important;
	}
	.item-title-7 .item-title-content-1 h2 {
		position: absolute;
		top: 21px;
        left: 596px;
		font-size: 16px;
	}
	.item-title-5 {
		padding-bottom: 0px;
	}
	.item-title-7 .item-title-content-1 .h2 {
		left: 600px;
		position: absolute;
		font-size: 16px
	}
	.item-title-8 .item-title-content-1 {
		min-height: unset;
		font-size: 24px;
	}
	.item-title-content-9 {
		min-height: unset;
		font-size: 24px;
	}
	.background {
		background-image: url(/images/union-small.png);
		background-repeat: no-repeat;
		background-position-x: right;
		background-position-y: bottom;
		padding-bottom: 20px;
	}
	.item-title-9 {
		min-height: unset;
	}
	.item-title-8 .item-title-content-1 {
        font-size: 16px;
	}
	.item-title-content-9{
        font-size: 16px;
	}
	.six-section .item-title .item-title-content .logo-text {
		display: none;
	}
	.fifth-section .item-title .item-title-content-2 {
		padding-bottom: 75px;
	}
}

/* xs <= Small (sm) */
@media (max-width : 375px) {

	.item-title-3 {
		margin-right: 10px;
	}
	.item-title-3 {
		min-width: 355px;
		background-position-x: 300px;
		background-position-y: 40px;
	}
	.item-title-3 .item-title-content-1 {
		font-size: 14px;
		padding-right: 50px;
	}
	.item-title-content-2 {
		font-size: 16px;
	}
	.third-section .item-title-content-2{
		font-size: 16px;
	}
	.pattern-2 {
		padding-right: 10px;
		position: relative;
	}
	.item-title-2 {
		font-size: 40px;
	}
	
	.second-section h2 {
		margin: 0;
		padding-top: 0px;
	}
	.fifth-section h2 {
		font-size: 40px;
	}
	.item-title-5{
		padding-top: 20px;
		padding-bottom: 0px;
	}
	.item-title-5 .item-title-content-1 {
		padding-left: 5px;
		padding-bottom: 40px;
	}
	.pattern{
		padding-right: 10px;
	}
	.item-title-6 {
		min-width: 355px;
		font-size: 16px;
		margin-right: 10px;
	}

	.item-title-7 .item-title-content-1 .ul h3{
		padding-top: 0px;
	}
	.item-title-7 .item-title-content-1 h2 {
		text-align: right;
		position: unset;
		font-size: 16px;
	}
	.item-title-7 .item-title-content-1 .h2 {
		padding-left: 277px;
		position: unset;
		font-size: 16px;
	}
	.item-title-8 .item-title-content-1 {
		min-height: unset;
		padding-bottom: unset !important;
		font-size: 24px;
	}
	.item-title-content-9 {
		min-height: unset;
		font-size: 24px;
	}
	.background {
		background-image: url(/images/union-small.png);
		background-repeat: no-repeat;
		background-position-x: right;
		background-position-y: bottom;
		padding-bottom: 20px;
	}
	.item-title-9 {
		min-height: unset;
	}
	.item-title-8 .item-title-content-1 {
        font-size: 16px;
	}
	.item-title-content-9{
        font-size: 16px;
	}
	.fourth-section .item-title-content-1 {
		font-size: 16px;
		min-width: auto;
	}
	.fifth-section .item-title-content {
		font-size: 16px;
	}
	.six-section {
		min-height: 320px;
	}
	.six-section .item-title .item-title-content .logo-2 {	
		position: absolute;
		text-align: left;
		letter-spacing: 1.2px;
		line-height: 21px;
		font-size: 14px;
		bottom: -60px;
		left: 20px;
	}
	.six-section .item-title .item-title-content .logo-text {
		line-height: 25px;
		letter-spacing: 1.2px;
		font-weight: 550;
		font-size: 15px;
		left: 20px;
		bottom: 65px;
		text-align: left;
		position: absolute;
		display: block;
	}
	.six-section .item-title .item-title-content .logo {
		padding-left: 20px;
		top: 0px;
		left: 0px;
		display: block;
		position: absolute;
	}
	.six-section .item-title .item-title-content {
		letter-spacing: 1.2px;
		padding-left: 20px;
		padding-top: 145px;
		color: #3CB3B6;
		text-align: left;
		font-size: 14px;
		font-weight: 500;
	}
}

@media (max-width : 350px) {
	
	.item-title-3 {
		background-position-x: 300px;
		background-position-y: 40px;
	}
	.item-title-3 .item-title-content-1 {
		font-size: 14px;
		padding-right: 50px;
	}
	.item-title-content-2 {
		font-size: 16px;
	}
	.third-section .item-title-content-2{
		font-size: 16px;
	}
	.pattern-2 {
		padding-left: 20px;
		padding-right: 10px;
	}
	.item-title-2 {
		font-size: 40px;
	}
	.second-section h2 {
		margin: 0;
		padding-top: 0px;
	}
	.fifth-section h2 {
		font-size: 40px;
	}
	.item-title-5{
		padding-top: 20px;
	}
	.item-title-5 .item-title-content-1 {
		padding-left: 5px;
		padding-bottom: 40px;
	}
	.pattern{
		padding-right: 10px;
	}
	.item-title-6 {
		margin-right: 10px;
	}
	.item-title-7 .item-title-content-1 .ul h3{
		padding-top: 0px;
	}
	.item-title-7 .item-title-content-1 h2 {
		text-align: right;
		position: unset;
		font-size: 16px;
	}
	.item-title-7 .item-title-content-1 .h2 {
		padding-left: 277px;
		position: unset;
		font-size: 16px;
	}
	.item-title-8 .item-title-content-1 {
		min-height: unset !important;
		padding-bottom: unset;
	}
	.item-title-content-9 {
		min-height: unset;
	}
	.background {
		background-image: url(/images/union-small.png);
		background-repeat: no-repeat;
		background-position-x: right;
		background-position-y: bottom;
		padding-bottom: 20px;
	}
	.item-title-9 {
		min-height: unset;
	}
	.item-title-8 .item-title-content-1 {
        font-size: 16px;
	}
	.item-title-content-9{
        font-size: 16px;
	}
	.fourth-section .item-title-content-1 {
		font-size: 16px;
	}
	.fifth-section .item-title-content {
		font-size: 16px;
	}
}


/* === MOBILE FIRST === */

/* Custom (xs) */
@media (min-width : 0) {

}

/* Small (sm) */
@media (min-width : 350px) {
	

}

/* Medium (md) */
@media (min-width : 768px) {
	
	
}

/* Large (lg) */
@media (min-width : 992px) {
	

}

/* Extra large (xl) */
@media (min-width : 1200px) {
	.text {
		font-size: 18px;
	}
	
}

/* Extra extra large (xxl) */
@media (min-width : 1400px) {
	.text {
		font-size: 22px;
	}
	
}
